{% extends 'contactuspage/base_contacts.html' %}

{% load floppyforms %}

{% block content %}


<section class="dark-bg" id="topicCreate">

  <div class="row">
    <div class="col-md-2">        
    </div>

    <div class="col-md-8">
      <div class="light-box spaced-box">

        <div class="row">
          <div class="col-md-4">
            <h1>Send us a message</h1>
            <h1><small>Please leave us a message with any questions, inquiries or thoughts.</small></h1>
          </div>
          <div class="col-md-8">
            <form method="post" action="{{ request.get_full_path }}">{% csrf_token %}
              {{ form }}
              <p>
              <button type="submit" class="btn btn-primary btn-lg">
                Send Message
              </button>
              </p>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
